[Desktop Entry]
Type=Application
Name=Fretman
GenericName=Fretboard Trainer
Comment=Learn the notes and chords on a guitar or bass fretboard
Exec=fretman
Icon=dev.laneholloway.Fretman
Terminal=false
Categories=Education;Music;AudioVideo;
Keywords=guitar;bass;fretboard;notes;chords;music theory;
